/*font-family: 'Nunito Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');
*{
    text-align: center;
    margin:0; /* baslangic tum marginleri sifirlar*/
    box-sizing:border-box;
/* box sizing CSS'de kullanilan kutu modelini secmek icin kullanilir
genelde border-box tercih edilir.*/
}
h1{
    margin-top:50px;
}
body {
    background-image: linear-gradient(rgb(224, 184, 184), rgb(97, 201, 97));
    font-family: "Nunito", sans-serif;
}

.input{
    margin-bottom: 20px;
    
    width: 200px;
    height: 25px;
}
.label {
    display: block; /* inline olan elamani blok yapar */
    margin-right: 10px;
   
}
.btn {
    font-size: 16px;
    color: white;
    width: 120px;
    height: 40 px;
    margin-top: 10px;
    border: 2px solid green;
    border-radius: 20px;
    background-color:tomato;
    cursor: pointer
}
.btn:hover {
    background:  rgb (179,4,4);
}

.far,.fas {
    font-size: 25 px;
}
i {   /* yada .far , .fas  ya da . far,fas */
    color: black;
}
textarea {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    width:200 px;
}