* {
    text-align: center;
}

h1 {

    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30 px;
}

.tablo{
    border: 4px solid grey ;
    border-collapse: collapse
    width 50% px;
    margin-left: auto;
    margin-right: auto;
    /* sol ve sagdan oto bosluk koyarak nesneler hizalanabilir */
}
/* birden fazla attribute ayni stillendirme yapilacaksa virgul
ile ayrilarak yazilabilir. */
th,
td{
    border: 4px solid grey;
}
th{background-color: yellowgreen;}
tr:hover {
    background-color: blue;
}
/* tr th:nth-child dersen sutunlari yapar */
tr :nth-child(even) {
    background-color: gold;
}